@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
#game-container {
    position: relative;
    font-family: Rye;
    background: white;
    text-align: center;
}
.text-container{
    background: white;
}

.store-container{
    background:white;
}

.upgrade-container-4{
    background: white;
}
.box{
    position:absolute;
    bottom: 0;
    right: 0;

}
