@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
#game-container {
    position: relative;
    font-family: Rye;
    text-align: center;
}
.text-container{
    font-family: Rye;
}

.store-container{
    background:white;
    font-family: Rye;
}

.upgrade-container-4{
    background: white;
    font-family: Rye;
}
.box{
    position:absolute;
    bottom: 0;
    right: 0;

}
.store-label{
    text-align: center;
    font-size: 40px;
}
.column{
    display: flex;
    justify-content: center;
    float: left;
    width: 30%;
    padding-left: 30px;
}
.label{
    text-align: center;
}